---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
  <main>
    <article>
      <div class="hero-image">
        <video
          width={1020}
          height={510}
          src="/2018-07-20 Familee Noodle Night.mp4"
          autoplay="true"></video>
      </div>
      <div class="prose">
        <div class="title">
          <h1>About Us</h1>
          <hr />
        </div>
        <slot />
      </div>
    </article>
  </main>
</PageLayout>
