---
import Splash from "../components/Splash.astro";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
  <Splash />
  <section class="p-4 flex flex-col md:flex-row gap-8 items-center">
    <img class="md:w-1/2 rounded-lg" src="/IMG_2365.JPG" />
    <div class="prose md:flex-1">
      <h3>
        Our Secret Ingredient is Love is a grassroots culinary collective that
        shares the delight of eating ethically together.
      </h3>
      <p>
        We explore how to make meals more environmentally conscious and more
        nourishing for all our loved ones. We are 100% plant-based.
      </p>
      <p>
        OSIL facilitates special culinary experiences, creates educational
        content, and provides culinary services to mission-aligned community
        partners. Let’s cook something good up together!
      </p>
    </div>
  </section>
</PageLayout>
