---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { Instagram } from "lucide-astro";

type Props = {
  withSplash?: boolean;
};

const { withSplash } = Astro.props;
---

<osil-header withSplash={withSplash}>
  <nav>
    <a class="logo" href="/">
      <img src="2024-02-13 Our Secret Ingredient Logo Horizontal.svg" />
    </a>
    <div class="links">
      <div class="internal-links">
        <HeaderLink href="/blog">Blog</HeaderLink>
        <!-- <HeaderLink href="/about">About</HeaderLink> -->
      </div>
      <div class="social-links">
        <a
          href="https://www.instagram.com/oursecretingredientislove"
          target="_blank"
        >
          <Instagram />
        </a>
      </div>
    </div>
  </nav>
</osil-header>
<style>
  osil-header {
    margin: 0;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: background-color 0.3s ease;
    z-index: 1;
  }
  osil-header.top {
    background-color: transparent;
  }
  osil-header a {
    color: white;
  }
  .logo {
    margin: 0;
    display: flex;
    align-items: center;
  }

  .logo img {
    border-radius: 0;
    height: 1rem;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links a {
    padding: 0.6rem 0.8rem;
    line-height: 1rem;
    text-decoration: none;
    border-radius: 0.5rem;
  }
  .links a.active {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  .links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
<script>
  class OSILHeader extends HTMLElement {
    constructor() {
      super();
      if (!this.dataset.withSplash) {
        return;
      }
      document.addEventListener("scroll", () => {
        if (window.scrollY === 0) {
          this.className = "top";
        } else {
          this.className = "";
        }
      });
    }
  }

  customElements.define("osil-header", OSILHeader);
</script>
