---

---

<splash class="splash m-4 rounded-lg overflow-hidden">
  <img
    src="/IMG_2044.JPG"
    class="background w-full h-full object-cover -z-10"
  />
  <div class="heading-overlay">
    <h1
      class="my-40 mx-10 md:my-60 md:mx-20 drop-shadow-md text-white text-5xl md:text-6xl md:max-w-screen-sm font-splash"
    >
      Inclusive Recipes with Ethical Ingredients
    </h1>
  </div>
</splash>
<style>
  splash {
    display: block;
    height: 80vh;
    overflow: hidden;
    position: relative;
  }
  .heading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }

  @media screen and (max-width: 600px) {
    .background {
      width: unset;
      height: 100%;
    }
  }
</style>
